*{
  margin: 0 auto;
  padding: 0 auto;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*Header (Navbar) section*/
.header {
  background-color: #FAFAFA;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  z-index: 10;
}

.header-logo {
  padding: 21px 0px 21px 48px;
  float: left;
}


.header-list li {
  float: right;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #1C1515;
  margin: 0;
  top: 0;
  padding: 24px 48px 37px 48px;
}

.header-list span {
  color:#FF3535;
  font-weight: bold;
}

.header-list a {
  color: #1C1515;
}

.hero {
  padding: 240px 55px 140px 55px;
  text-align: center;
}

.copy-hero h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 42px;
  margin: 0 auto;
  padding: 0px;
}

.copy-hero h3 {
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  color: #9c9c9c;
  font-weight:normal;
  margin-top: 24px;
  margin-bottom: 48px;
}

.cta-hero {
  margin-bottom:120px; 
}

.btn-profile {
  background-color: #FF3535;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 36px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
}

.cta-hero a {
  color: #ffffff;
}


/*Portfolio section*/
.portfolio h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-left: 50px;
  margin-right:1080px;
  font-size: 36px;
}

.contents {
  height: 100%;
  padding-top: 21px;
  padding-bottom: 140px;
}

.contents-item {
  float: left;
  width: 50%;
  margin-bottom: 42px;
}

.contents-item img{
  width: 519px;
  height: 420px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
}

.contents-item h3 {
  width: 512px;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight:500;
  padding-bottom: 10px;
  margin: 10px 0px 0px 50px;
  text-align: left;
}

.contents-item p {
  width: 512px;
  font-family: Montserrat;
  font-size: 24px;
  margin: 0px 0px 10px 50px;
  text-align: left;
  font-size: 20px;
  color:#9c9c9c;
}



.Thoriq{
  margin:0 auto;
  height:1000px;
}
.div{
  width: 100%;
  margin:0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  text-align: justify;
}

.div h3{
  text-align: center;
  position: relative;
  top: 700px;
  left: 218px;
  font-family:"DM Sans" ;
  font-size: 26px;
}
.Penjelasan{
  font-family: "Montserrat";
  font-size: 14px;
  color: #9c9c9c;;
  position: relative;
  text-align: left;
  top:125%;
  right: 200px;
}
.Kontainer{
  position: relative;
  width:100%;
  height:300px;
}
.Thebox{
  align-items: center;
  background: none;
  position: absolute;
  width: 100%;
  height: 47px;
  left: 20px;
  bottom: 100px;
}
.Thebox h4{
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-bottom:10px;
}
.Thebox p{
  font-size: 15px;
  color:#808080;
  font-family: "Montserrat";
  text-align: center;
}
.Container{
  position: relative;
  width: 500px auto;
  height: 300px auto;
  margin: 240px auto;
}
.box{
  position: relative;
  background: none;
  float:left;
  width: 250px ;
  padding: 25px ;
  margin: 50px;
  top: -250px ;
  left: 9%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  border: 0;
  display:block;
  border: 2px solid #FF3533;
  cursor:pointer;
}
.icon{
  font-family: "Montserrat";
  font-size: 45px;
  padding: 24px 20 0;
  top:20%;
  position: absolute;
  transition: 0.5s;
  z-index: 1;
  cursor:pointer;
  box-align: center;
  text-align: center;
}
.icon .fa{
  color:#FF3533;
  text-align: center;
  box-align: center;
}
.box:hover{
  background: #ff0400;
}
.box .Sosmed{
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  margin: 55px;
  text-decoration: none;
  color: #FF3533;
}

footer{
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4d4d4d;
  height:auto;
  width:100vw auto;
  font-family: "Montserrat";
  padding-top: 40px;
  color: #fff;
  text-align: center;
}
.footer-content{
  background: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: relative;
  flex-direction: column;
  text-align:center;
}
.footer-content p{
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 18px;
  position: relative;
  bottom: -8px;
  right:35%;
  text-align: center;
}
.Nama{
  text-align: center;
  max-width: 500px;
  font-size: 15px;
  margin:100px auto;
  left:25%;
  top: -50px;
  line-height: 30px;
}
.footer-content a{
  max-width: 5000px;
  line-height: 36px;
  font-size: 14px;
  color: white;
  position: relative;
  bottom: -28px;
  right:38%;
  top:-40%;
  text-align: center;
}
.footer-point{
  list-style: none;
  display: flex;
  align-items:center;
  justify-content:center;
  margin: 1rem 0 1rem 0;
  max-width: 500px;
  line-height: 28px;
  text-align: center;
}
.WA{
  font-size: 30px;
  position: absolute;
  left:1050px;
  bottom: 80px;
  max-width: 500px;
  line-height: 36px;
  text-align: center;
}
.IG{
  font-size: 20px;
  position:absolute;
  left: 1100px;
  bottom: 80px;
  max-width: 500px;
  line-height: 36px;
  text-align: center;
}
.Drible{
  font-size: 20px;
  margin: 20 60px 10;
  position:absolute;
  left: 1000px;
  bottom: 80px;
  max-width: 500px;
  line-height: 36px;
  text-align: center;
}
.footer-point a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.footer-point a i{
  transition: color .4s ease;
  text-align: center;

}
.footer-point a:hover i{
  color: #9c9c9c;
}
.Fontcheck:hover{
  color: #9c9c9c;

}







